<div class="linkWrapper"><a class="superNav" href="{{ path('admin') }}">Edit Pages</a></div>
<div class="linkWrapper"><a class="superNav" href="{{ path('newPage') }}">Create New Page</a></div>
<div class="linkWrapper"><a class="superNav" href="{{ path('upload') }}">Upload Images</a></div>
<div class="linkWrapper"><a class="superNav" href="{{ path('showGalleries') }}">Edit Galleries</a></div>
<div class="linkWrapper"><a class="superNav" href="{{ path('index') }}" target="_blank">View site</a></div>
<div class="linkWrapper"><a class="superNav" href="{{ path('fos_user_security_logout') }}">Logout</a></div>
