<!DOCTYPE html>
<html class="no-js">
    <head>
		<script src="{{ asset('js/jquery.js') }}"></script>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Voices for Earth Justice - Admin{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('build/styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/modernizr-custom.js') }}"></script>
        <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    </head>
    <body>
    	<div class="notNav">
    	{% block header %}
			<header class="admin">
				<p>Voices for Earth Justice - Site Administration<p>
			</header>
		{% endblock %}
		<div>
			<ul class="nav">
				<li><a class="superNav" href="{{ path('admin') }}">Edit Pages</a></li>
				<li><a class="superNav" href="{{ path('newPage') }}">Create New Page</a></li>
				<li><a class="superNav" href="{{ path('upload') }}">Upload Images</a></li>
				<li><a class="superNav" href="{{ path('showGalleries') }}">Edit Galleries</a></li>
				<li><a class="superNav" href="{{ path('index') }}" target="_blank">View site</a></li>
				<li><a class="superNav" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
			</ul>
		</li>
			<main class="main-content">
				<button class="off-canvas-launcher">&#9776; Menu</button>
				{% block main %}{% endblock %}
			</main>
		</li>
		<nav class="navigation-menu" id="adminNav">
			{% block nav %}
				<li><a class="superNav" href="{{ path('admin') }}">Edit Pages</a></li>
				<li><a class="superNav" href="{{ path('newPage') }}">Create New Page</a></li>
				<li><a class="superNav" href="{{ path('upload') }}">Upload Images</a></li>
				<li><a class="superNav" href="{{ path('showGalleries') }}">Edit Galleries</a></li>
				<li><a class="superNav" href="{{ path('index') }}" target="_blank">View site</a></li>
				<li><a class="superNav" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
			{% endblock %}
		</nav>
		<footer>
			<div class="footerContent">
			</li>
		</footer>
        {% block javascripts %}
			<script src="{{ asset('js/jquery.maskedinput.js') }}"></script>
			<script src="{{ asset('js/menuShow.js') }}"></script>
			<script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'edit_page_content' );
            </script>
            <script>
				CKEDITOR.replace( 'edit_blog_content' );
			</script>
        {% endblock %}
    </body>
</html>
