<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Voices for Earth Justice{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('build/styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/modernizr-custom.js') }}"></script>
    </head>
    <body>
    	<div class="notNav">
    	{% block header %}
			<a href="{{ path('index') }}" id="headerLink"><header>
				<img src="images/voices_logo.png" alt="Voices for Earth Justice logo" /><p>Prayer, education and action on behalf of Earth</p>
			</header></a>
		{% endblock %}
		    <div>
				{{ render(controller('AppBundle:Nav:Nav')) }}
			</div>
			<main class="main-content">
				<button class="off-canvas-launcher">&#9776; Menu</button>
				{% block main %}{% endblock %}
			</main>
		</div>
		<nav class="navigation-menu">
			{% block nav %}
			{{ render(controller('AppBundle:NavFooter:NavFooter')) }}
			{% endblock %}
		</nav>
		<footer>
			<div class="footerContent">
				<p>Copyright © 2016 Voices for Earth Justice, nonprofit 501(c)(3). All Rights Reserved.</p>
				<p>Mailing address: 21695 Rougewood Dr., Southfield, MI 48033 Email: voices4earth@juno.com Phone: (248) 351-9001</p>
			</div>
		</footer>
        {% block javascripts %}
			<script src="{{ asset('js/menuShow.js') }}"></script>
        {% endblock %}
    </body>
</html>
