{% extends 'base.html.twig' %}
{% block title %}Voices for Earth Justice - Blog{% endblock %}
{% block main %}
	{% for blog in blogs %}
	<div class="content">
	<h2><a href="{{blog.slug}}">{{blog.title}}</a></h2>
		<p class="datePosted">Posted: {{ blog.sqlDate|date('n/j/y') }}</p>
  	 <p>{{ blog.content|raw }}<p>
  	 {% if blog.galleryName %}
  	 <strong>Gallery: {{ blog.galleryName}}</strong>
  	 {{ render(controller('AppBundle:Gallery:Gallery',{ 'galleryName': blog.galleryName })) }}
  	 {% endif %}
	{{ blog.content2|raw }}
	</div>
	{% endfor %}
{% endblock %}
