{% extends 'base.html.twig' %}
{% block title %}Voices for Earth Justice - Blog{% endblock %}
{% block main %}
	<div class="content">
		<h1>VEJ Blog</h1>
		{% for page in pagination %}
			<h2><a class="blogTitleLink" href="{{page.slug}}">{{page.title}}</a></h2>
				<p class="datePosted">Posted: {{ page.sqlDate|date('n/j/y') }}</p>
			 <p>{{ page.content|raw }}<p>
			 {% if page.galleryName != "no gallery" %}
			 <strong>Gallery: {{ page.galleryName}}</strong>
			 {{ render(controller('AppBundle:Gallery:Gallery',{ 'galleryName': page.galleryName })) }}
			 {% endif %}
			{{ page.content2|raw }}
		{% endfor %}
		<div class="paginationNavigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
