{% extends 'base.html.twig' %}
{% block title %}Voices for Earth Justice - Contact{% endblock %}
{% block main %}
<div class="content">
	<div class="contactWrapper">
		<h2>Contact</h2>
		<p>* = required field</p>
		{{ form_start(contactForm) }}
		{{ form_row(contactForm.firstName, {'label': 'First Name*: '}) }}
		{{ form_row(contactForm.lastName, {'label': 'Last Name: '}) }}
		{{ form_row(contactForm.emailAddress, {'label': 'Email Address*: '}) }}
		{{ form_row(contactForm.phoneNumber, {'label': 'Phone Number: '}) }}
		{{ form_row(contactForm.comment, {'label': 'Comment*: '}) }}
		{{ form_row(contactForm.save) }}
		{{ form_end(contactForm) }}
	</div>
	<div class="contactWrapper">
		<p>Hope House is located at: 15894 Greydale St. Detroit, MI 48223</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2945.9619629978856!2d-83.25761668488072!3d42.40725497918378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824b58bfa842d57%3A0xbf3dffc4b08cd087!2s15894+Greydale+St%2C+Detroit%2C+MI+48223!5e0!3m2!1sen!2sus!4v1462029596601" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>
{% endblock %}
	{% block javascripts %}
		{{ parent() }}
		<!--script for pattern masks-->
		<script>
		jQuery(function($){
			$("input[type=text]#contact_phoneNumber").mask("(999)999-9999");
		});
		</script>
	{% endblock %}