{% extends 'base.admin.html.twig' %}

{% block main %}
<div class="adminContent">
<h2>Edit Blog Post</h2>
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.excerpt) }}
{% if page.featuredPhotoName %}<p>Featured Photo:</p>
<img src="{{ asset('uploads/featuredPhotos/'~page.featuredPhotoName) }}" alt="featured photo" id="featuredPhoto" />{% endif %}
{{ form_row(form.featuredPhoto) }}
	{{ form_row(form.content, {'attr': {'class': 'contentTextArea'}}) }}
		<label for="gallerySelect">Select Gallery: </label><select id="gallerySelect" name="GalleryName">
			<option value="no gallery"></option>
		{% for distinctPage in distinctPages %}
			<option value="{{ distinctPage.galleryName }}" {% if distinctPage.galleryName == page.galleryName %} selected="selected"{% endif %}>{{ distinctPage.galleryName }}</option>
		{% endfor %}
	</select>
	{{ form_row(form.content2, {'attr': {'class': 'contentTextArea'}}) }}                        
 	{{ form_row(form.sqlDate, {'label': 'Post Date: '}) }}
	{{ form_row(form.slug) }}                                               
	{{ form_row(form.save) }}
<input type="submit" name="DeleteBlog" value="Delete post" onClick="return confirm('Are you sure you want to delete this blog post?');"/>
{{ form_end(form) }}
</div>
{% endblock %}