
{% extends 'base.html.twig' %}
{% block nav %}
  	 {% include 'adminNav.html' %}
{% endblock %}
{% block main %}

{{ form_start(form) }}
{{ form_row(form.title) }}
	{{ form_row(form.pageType) }}
	{{ form_row(form.content) }}
		<label for="gallerySelect">Select Gallery: </label><select id="gallerySelect" name="GalleryName">
			<option value="no gallery"></option>
		{% for distinctPage in distinctPages %}
			<option value="{{ distinctPage.galleryName }}" {% if distinctPage.galleryName == page.galleryName %} selected="selected"{% endif %}>{{ distinctPage.galleryName }}</option>
		{% endfor %}
	</select>
	{{ form_row(form.content2) }}                        
	{{ form_row(form.includeInNav) }}                        
	{{ form_row(form.menuOrder) }} 
		<label for="parentPageSelect">Select Parent Page: </label><select id="parentPageSelect" name="ParentPage">
			<option value="no parent page"></option>
	{% for parentPage in parentPages %}
		{% if parentPage.title != page.title %}
			<option value="{{ parentPage.title }}" {% if parentPage.title == page.parentPage %} selected="selected"{% endif %}>{{ parentPage.title }}</option>
		{% endif %}
	{% endfor %}
		</select>
	{{ form_row(form.sqlDate) }}
	{{ form_row(form.slug) }}                                               
	{{ form_row(form.save) }}
{{ form_end(form) }}
{% endblock %}