{% extends 'base.html.twig' %}
{% block title %}Voices for Earth Justice - {{page.title}}{% endblock %}
{% block main %}
	<div class="content">
	<h2>{{page.title}}</h2>
   {{ page.content|raw }}
   </div>
   {% if pics %}
	 	<h3 id="galleryName">Gallery: {{ page.galleryName }}</h3>
		{{ render(controller('AppBundle:Gallery:Gallery',{ 'galleryName': page.galleryName })) }}
	{% endif %}
	<div class="content">
   {{ page.content2|raw }}
   </div>
{% endblock %}
