<div class="blogWrapper" id="latestPhotosWrapper">
	<h3><em>Latest Photos</em></h3>
	<div class="blogInset">
	{% for photo in latestPhotos %}
		<figure class="latestPhotosItem">
			{% if photo.gallerySlug %}
				<a href="{{photo.gallerySlug}}">
					<span><img src="{{ asset('thumb/'~photo.path) }}" alt="Gallery: {{photo.galleryName}}" /></span>
				</a>
			{% else %}
				<span><img src="{{ asset('thumb/'~photo.path) }}"/></span>
			{% endif %}
			{% if photo.caption %}
				<figcaption>{{ photo.caption }}</figcaption>
			{% else %}				
				{% if photo.gallerySlug %}<p id="latestPhotosGalleryName">Gallery: <a href="{{photo.gallerySlug}}" target="_blank">{{photo.galleryName}}</a></p>{% endif %}
			{% endif %}
		</figure>
	{% endfor %}
		<div class="latestPhotosItem">
			<a id="seePhotosLink" href="{{ path('photo-galleries') }}" >See all photos</a>
		</div>
	</div>
</div>
