<ul class="nav">
{% for parentPage in parentPages %}
	{% if parentPage.title in parentPageNames %}
		<li class="parent dropdown"><a href="{{ path('index', {'slug': parentPage.slug}) }}" class="dropbtn">{{ parentPage.title }}</a>
			<div class="dropdown-content">
			{% for childPage in childPages %}
				{% if childPage.parentPage == parentPage.title %}
					<a href="{{ path('index', {'slug': childPage.slug}) }}">{{ childPage.title }}</a>
				{% endif %}
			{% endfor %}
			</div>
		</li>
	{% else %}
				{% if parentPage.title == 'Donate' %}
				  	<li><a id="donate" href="{{ path('index', {'slug': parentPage.slug}) }}">{{parentPage.title}}</a></li>
				{% else %}
				  	<li class="parent"><a href="{{ path('index', {'slug': parentPage.slug}) }}">{{parentPage.title}}</a></li>
				{% endif %}
	{% endif %}
{% endfor %}
</ul>
