
{% for parentPage in parentPages %}
	{% if parentPage.title in parentPageNames %}
		<div class="navSuper">
			<a class="nav superNav" href="{{ path('index', {'slug': parentPage.slug}) }}" class="dropbtn">{{ parentPage.title }}</a></li>

			{% for childPage in childPages %}
				{% if childPage.parentPage == parentPage.title %}
					<div class="navSub">
						<a class="nav subNav" href="{{ path('index', {'slug': childPage.slug}) }}">{{ childPage.title }}</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<div class="navSuper">
		  	<a class="nav superNav" href="{{ path('index', {'slug': parentPage.slug}) }}">{{parentPage.title}}</a>
		</div>
	{% endif %}
{% endfor %}