{# app/Resources/views/default/admin.html.twig #}
{% extends 'base.html.twig' %}
{% block nav %}
  	 {% include 'adminNav.html' %}
{% endblock %}
{% block main %}
<div class="adminContent">
<h2>New Blog Post</h2>
{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.excerpt) }}
{{ form_row(form.featuredPhoto) }}
	{{ form_row(form.content, {'attr': {'class': 'contentTextArea'}}) }}
		<label for="gallerySelect">Select Gallery: </label><select id="gallerySelect" name="GalleryName">
			<option value="no gallery"></option>
		{% for distinctPage in distinctPages %}
			<option value="{{ distinctPage.galleryName }}">{{ distinctPage.galleryName }}</option>
		{% endfor %}
	</select>
	{{ form_row(form.content2, {'attr': {'class': 'contentTextArea'}}) }}                        
 
 	{{ form_row(form.sqlDate, {'label': 'Post Date: '}) }}
	{{ form_row(form.save) }}
{{ form_end(form) }}
</div>
{% endblock %}