{% extends 'base.html.twig' %}

{% block main %}
<div class="content">
<h2>Slideshow: {{ pic.galleryName }}</h2>
		<img class="slideshow" src="{{ asset('slideshow/'~pic.path) }}" align="middle" /></a>
	<div id="slideshowCaption">{{ pic.caption }}</div>
<div class="slideshowFooter">
	<span>{% if count != 1 %}<a href="{{ path('slideshow', {'picPath': previousPic.path}) }}">previous image</a>{% endif %}</span>
	<span><a href="../uploads/{{pic.path}}" target="_blank">view original image</a></span>
	<span>{% if count != 1 %}<a href="{{ path('slideshow', {'picPath': nextPic.path}) }}">next image</a>{% endif %}</span>
</div>
</div>
{% endblock %}