{% extends 'base.admin.html.twig' %}

{% block main %}
	{{ form_start(form) }}
		<label for="gallerySelect">Select Gallery: </label><select id="gallerySelect" name="GalleryName">
			<option value="no gallery"></option>
		{% for distinctGallery in distinctGalleries %}
			<option value="{{ distinctGallery.galleryName }}">{{ distinctGallery.galleryName }}</option>
		{% endfor %}
		</select>
	{{ form_row(form.galleryName, {'label': 'or create new gallery: '}) }}
	{{ form_row(form.createBlog, {'label': 'create blog post with same title: '}) }}
	{{ form_row(form.caption) }}
	{{ form_row(form.file) }}
 	{{ form_row(form.sqlDate, {'label': 'Upload Date: '}) }}	
	{{ form_row(form.save) }}

	{{ form_end(form) }}
{% endblock %}
